page-history {
    .btn-box {
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 10px;
        padding: 6px;
        font-size: 18px;
        line-height: 1.428571429;
        border-radius: 0px;
        background-color: rgb(76,75,80);
        color: rgb(255, 165, 0);
      }
}
