<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let rc of reflectionProvider._readed">
        <button ion-item (click)="openCardDetail(rc)">
            <span class="btn-box" item-start><b>{{ rc.date | dateFormat }}</b></span>
            {{ rc.title }}
        </button>
      </ion-item-sliding>
    </ion-list>
    <h2 *ngIf="reflectionProvider.getReadedRef() === null">No Data Found!</h2>
</ion-content>

